In [1]:
import pandas as pd
import numpy as np

In [3]:
data=np.array([4,8,15,16,23,42])
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
xy=[["alice", 25 , "female"],["bob",30,"male"],["claire",27,"female"]]
df1=pd.DataFrame(xy,columns=["name","age","gender"])
df1

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Dimensions


The dimensions of the data are where a Pandas Series and a single-column DataFrame most obviously diverge. A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index. The labels for the data are contained in the index, which is a second column.

Functionality


There are certain distinctions in the extra features that a Series and a single-column DataFrame offer, despite the fact that they share many common functionalities. Additional features like filtering, merging, and joining is accessible in a single-column DataFrame but not in a Series.

Data Alignment


Based on the index labels, a Pandas Series can be aligned with another Series or DataFrame. Even if the index labels are ordered differently, the alignment makes sure the data is correctly matched. Data alignment is also supported in a single-column DataFrame, but it is determined by the column label.

Performance


For actions that only involve one column of data, a Series performs more quickly than a single-column DataFrame. This is so because a Series has a more straightforward structure than a DataFrame with one column.

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

In [8]:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])
# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [12]:
df1.head()

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [13]:
df1.tail()

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

some fuctions used to manipulate dataframes are tail(), head(), dtypes() etc.